@value makerBlue from '../../common/colors.css';
@value makerLightWhite from '../../common/colors.css';

.footer {
  width: 100%;
  background-color: makerLightWhite;
  text-align: center;
}

.title {
  color: makerBlue;
}
